<!DOCTYPE html>
<html>
<head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="css/chat.css" />
  </head>
  <body>
    <h1>当前在线人数:<span id="count">0</span>人</h1>
    <ul id="messages"></ul>
    <div>
      <input id="m" autocomplete="off" /><button onclick="chatSocketObj.sendMessage();">Send</button>
    </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script>

    // namespace :/chat 和 /news

    let chat_socket = null;
    let news_socket = null;

    $(function () {
      chatSocketInit();
      newsSocketInit();
    })

    function chatSocketInit(){
      chat_socket = io('http://localhost:3000/chat');
      // chat_socket = io('http://localhost:3000/chat?name=xiaoxi');
      chatSocketObj.connect();
      chatSocketObj.disconnect();
      chatSocketObj.receiveMsg();
    }

    function newsSocketInit(){
      news_socket = io('http://localhost:3000/news'); 
      newsSocketObj.receiveMsg();
    }
    
    let chatSocketObj = {
      connect(){
        chat_socket.on('user_connect', data =>{
          $('#messages').append($('<li style="text-align:center;color:white;background:#EFEFEF;margin-top:10px;">').text(data.nickname+' '+data.msg));
          $('#count').text(data.count);
        })
      },

      disconnect(){
        chat_socket.on('user_disconnected', data =>{
          $('#messages').append($('<li style="text-align:center;color:red">').text(data.nickname+' '+data.msg));
          $('#count').text(data.count);
        })
      },
      receiveMsg(){
        chat_socket.on('chat_message', data =>{
          console.log('receive chat message',data);
          if(chat_socket.id == data.socket_id){
            $('#messages').append($('<li>').html(`<span style="color:red;">${data.nickname}</span>: ${data.msg}`));
          }else{
            $('#messages').append($('<li>').text(data.nickname+': '+data.msg));
          }
        })
      },

      // Sometimes, you might want to get a callback when the client confirmed the message reception.
      sendMessage(){
        chat_socket.emit('message',{
          event:'chat_message',
          msg:$('#m').val()
        }, result => {
          console.log(chat_socket.id,result);
        });
        $('#m').val('');
      }
    }

    let newsSocketObj = {
      receiveMsg(){
        news_socket.on('item',data =>{
          console.log('news ',data)
        })
      },
    }

    // 回车键enter 发送消息
    $("body").keydown(function() {
        if (event.keyCode == "13") {//keyCode=13是回车键
            chatSocketObj.sendMessage();
        }
    });
    
  </script>
</html>
